@charset "UTF-8";
html {
	font-size: 62.5%;
	font: sans-serif;
	padding: 0;
	margin: 0;
	}

body {
	margin: 0;
	background-color: rgba(180, 76, 151, 0.2);
	font-size: 1.4rem;
	text-align: center;
	}

header {
	width: 100%;
	padding: 15px 0;
	margin: 0 auto;
	text-align: center;
	background: rgba(90,90,90, .9);
	color: white;
}

li {
	list-style: none;
}

a {
	font-size: 1.6rem;
	color: white;
	list-style: none;
}

a:hover {
	font-weight: bold;
	color: skyblue;
}

.form {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.form  input {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	margin: 5px;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #555555;
	border: 1px solid #1b2538;
	border-radius: 4px;
}

.form input:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .7);
	color: #222222;
}

.form label {
	font: 20px/30px sans-serif;
	padding: 0.5em;
	transition: 0.3s;
	letter-spacing: 1px;
}

.form label:focus {
	font-color: rgba(218,60,65, .7) ;
}

.form  textarea {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #1b2538;
	border-radius: 4px;
}

.form textarea:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

.errorMessages {
	color: red;
	list-style: none;
}
/*出来てるかの確認*/